h1{
    color: red;
    font-style: italic;
    text-align: center;
    word-spacing: 10px;
}

p{
    color: blue;
    font-size: 12px;
    letter-spacing: 3em;
    word-spacing: 4px;
    height: 3em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 25px;
}

div {
    color: pink;
    width: 60%;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: right;
    word-spacing: 6px;
    background-color: coral;
}

